html, body {
  font-family: "Lato", sans-serif;
  background: #111;
  height: 100%;
  margin: 0;
  padding: 0; }

#map {
  height: 100%;
  overflow: visible; }

h1 {
  color: #818181;
  padding: 8px 8px 8px 5px;
  text-align: center; }

label {
  color: #818181;
  padding: 8px 8px 8px 5px;
  margin-right: 10px; }

.filtro {
  display: block;
  transition: 0.5s;
  padding: 8px 8px 8px 5px; }

.sidenav {
  list-style-type: none;
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.side_content {
  text-decoration: none;
  padding: 8px 8px 8px 5px;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.side_content:hover {
  color: #f1f1f1;
  cursor: pointer; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

@media screen and (max-height: 320px) {
  .sidenav {
    width: 100%; }
  .side_content {
    padding-top: 15px; }
  .side_content {
    font-size: 18px; } }
